<!-- confirmation.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel= "stylesheet"
 type ="text/css" 
 href= "../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}"
 />
</head>
<body>
<center>
    <h1>Opération réussie</h1>
    <p>Votre opération a été effectuée avec succès.</p>
    <a th:href="@{/gestion/devises}">Retour à la liste des devises</a>
</center>
</body>
</html>
