<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout1}">
<head>
    <meta charset="utf-8"/>
    <title>Fiche Client</title>
    <!-- Link to Bootstrap CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <!-- Link to custom style CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/mon_style.css" th:href="@{/css/mon_style.css}" />
</head>
<body>
    <section layout:fragment="content">
        <div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading">Saisie d'un client </div>
                <div class="panel-body">
                    <form th:action="@{update1}" method="post" th:object="${client}">
    <div class="form-group">
        <label class="control-label">ID</label>
        <input class="form-control" type="text" th:field="*{id}"/> 
    </div>
    <div class="form-group">
        <label class="control-label">Nom</label>
        <input class="form-control" type="text" th:field="*{nom}"/>
        <span class="red" th:errors="*{nom}"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Prenom</label>
        <input class="form-control" type="text" th:field="*{prenom}"/>
        <span class="red" th:errors="*{prenom}"></span>
    </div>
    
    <div>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </div>
</form>

                </div>
                <div class="panel-footer"> ----Gestion de stock--- </div>
            </div>
        </div>
    </section>
</body>
</html>
