<!-- gestionClients.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Clients</title>
    <link rel= "stylesheet"
 type ="text/css" 
 href= "../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}"
/>

</head>
<body>

    <h2>Liste des Clients</h2>

	<div class="container">
<form th:action="@{clients}" method="get" >
 <label>Mot Clé (nom):</label>
 <input type="text" name ="motCle" th:value="${motCle}"/>
 <button class ="btn btn-primary"> Chercher </button>
</form>
</div>

	 <a th:href="@{/gestion/form1}"> <!-- Lien vers le formulaire d'ajout -->
        <button>Ajouter</button>
    </a>
	
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Utilisation de Thymeleaf pour itérer sur la liste de clients -->
       <!-- Utilisation de Thymeleaf pour itérer sur la liste de clients -->
<tr th:each="c:${pageClients.content}">
    <td th:text="${c.id}"></td>
    <td th:text="${c.nom}"></td>
    <td th:text="${c.prenom}"></td>
    <td> <a th:href="@{edit1(id=${c.id})}" >Editer</a></td>
    <td>
        <a onclick="return confirm('Confirmez-vous la suppression de ce client?')"
   th:href="@{delete1(id=${c.id}, page=${pageCourante}, motCle=${motCle})}">
    Supprimer
</a>

    </td>
</tr>


        </tbody>
    </table>
<div class ="container">
<ul class ="nav nav-pills" >
 <li th:each ="p:${pages}" th:class="${p==pageCourante}?active:''" >
 <a th:text ="${p}" th:href ="@{clients(page =${p}, motCle =${motCle})}"></a>
 </li>
</ul>
</div>
</body>
</html>
